
@{
    ViewData["Title"] = "Receipt?";
}

<h1>Receipt??</h1>
<a href="/ParkedVehicles/Receipt?regnr=@ViewData["regnr"]&vehicleType=@ViewData["vehicleType"]&nrOfWheels=@ViewData["nrOfWheels"]&color=@ViewData["color"]&brand=@ViewData["brand"]&model=@ViewData["model"]&timeOfArrival=@ViewData["timeOfArrival"]&timeInGarage=@ViewData["timeInGarage"]&cost=@ViewData["cost"]">YES</a>
<a asp-action="Index">NO</a>
